<h1>Add a compact disc:</h1>
<form action="/cds" method="post">
  <label for="title">Title of Compact Disc:</label>
  <input id="title" name="title" type="text">

  <label for="year">Year of Compact Disc:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add Compact Disc</button>
</form>
